@import "~bootstrap/scss/bootstrap.scss";

header {
    background-color: #242424;
    height: 5.5rem;
    .logo-container {
        width: 10.625rem;
        height: 5.5rem;
        line-height: 5.5rem;
        background-color: #fee50e;
        display: block;
        text-align: center;

        img {
            display: inline-block;
            vertical-align: middle;
        }
    }

    ul {
        &.menu {
            margin: 0;

            >li {
                list-style: none;
                float: left;
                width: 20%;
                height: 100%;
                line-height: 5.5rem;
                font-weight: bold;
                color: #fff;
                text-align: center;
            }
        }
    }
}